@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 15mm;
  }
  
  body {
    background: white !important;
    color: black !important;
  }
  
  nav, footer, .print\:hidden {
    display: none !important;
  }
}
